references/

### Maven ###
target/

### Logs ###
logs/

### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.settings/
.classpath
.project

### VS Code ###
.vscode/
!.vscode/launch.json

### Mac OS ###
.DS_Store
